html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    min-width: 1440px;
    /* font-family: "Roboto", "Arial", sans-serif; */
    font-style: normal;
    font-weight: normal;
    /* font-size: 14px; */
    /* line-height: 21px; */
    color: #000000;
    background-color: #EFE6E4;
  }
  
  a {
      text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.main-header {
    background-image: url("../img/header_background.jpg");
    height: 715px;
}