@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1400px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
  background-color: #EFE6E4;
}

a {
  display: block;
  text-decoration: none;
  color: #533738;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wide-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 1036px;
  margin: 0 auto;
  padding: 0;
}

.page-header {
  background-image: url('../img/header_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 36px;
  padding-bottom: 168px;
  margin-bottom: 65px;
}

.page-header .wide-container {
  display: flex;
  align-items: center;
  padding-bottom: 91px;
  font-size: 16px;
  line-height: 20px;
}

.site-logo {
  display: flex;
  align-items: center;
  margin-right: 89px;
  text-transform: uppercase;
}

nav {
  flex-grow: 1;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav-link:hover,
.site-nav-link:focus {
  border-bottom: 1px solid #533738;
}

.site-nav-link:active {
  opacity: 0.7;
}

.tel-number {
  display: flex;
  margin-left: 35px;
  align-items: center;
}

.headline-text {
  width: 534px;
}

.headline-title {
  margin: 0 0 24px;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
}

.headline-description {
  margin-bottom: 21px;
}

.button {
  width: 309px;
  height: 74px;
  background-color: #CC8B86;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
}

.headline-button {
  padding-top: 25px;
  text-align: center;
}

.section-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.half-wrap {
  display: flex;
  gap: 63px;
  margin-bottom: 21px;
}

.text-wrap {
  width: 528px;
}

.advantages,
.order-form {
  background: #8D7370;
}

.advantages {
  display: flex;
  height: 273px;
  align-items: center;
  margin-bottom: 65px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.advantages-list-item p {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.advantages-list-item span {
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
}

.works .wide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.works-gallery-item {
  position: relative;
  height: 451px;
}

.works-gallery-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.0;
  background: rgba(100, 72, 69, 0.8);
}

.works-gallery-item-hover:hover {
  opacity: 1.0;
}

.works-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  padding: 86px 109px 19px;
}

.works-description {
  padding: 0 35px;
  color: #FFFFFF;
}

.look-for-more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  gap: 10px;
  margin-bottom: 65px;
}

.look-for-more:hover,
.look-for-more:focus {
  border-bottom: 1px solid #533738;
  margin-bottom: 64px;
}

.look-for-more:active {
  opacity: 0.7;
}

.team {
  background-color: #E2C4BA;
  padding-top: 50px;
  padding-bottom: 80px;
  margin-bottom: 65px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.team-list-item {
  width: 320px;
}

.process-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.process-list-item {
  width: 285px;
}

.process-list-item span {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  padding-top: 20px;
  background-color: #8D7370;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  border-radius: 50%;
}

.reviews {
  margin-bottom: 65px;
}

.reviews-pagination {
  display: flex;
  align-items: center;
}

.reviews-button {
  display: flex;
  align-items: center;
  width: 72px;
  height: 72px;
  background-color: #CC8B86;
  border: 0;
  border-radius: 50%;
}

.reviews-button>img {
  margin: 0 20px;
}

.reviews-button-prev {
  margin-right: 29px;
}

.reviews-button-next {
  margin-left: 29px;
}

.reviews-author {
  text-transform: uppercase;
}

.reviews-photos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

.reviews-item {
  flex-grow: 1;
}

.order-form .wide-container {
  display: flex;
  gap: 20px;
}

.form-container {
  margin-left: 82px;
}

.form-container .section-title {
  margin-top: 50px;
  margin-bottom: 24px;
  color: #FFFFFF;
  text-align: left;
}

.form-text {
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 44px;
}

.text-input {
  height: 35px;
  width: 508px;
  background-color: #8D7370;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: none;
  color: #F6EDE9;
}

.text-input::placeholder {
  color: #F6EDE9;
  ;
}

.request-order p:first-child {
  margin-bottom: 35px;
}

.submit-button {
  margin-top: 31px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.page-footer .wide-container {
  display: flex;
  padding-top: 37px;
  padding-bottom: 37px;
}

.info-1 {
  margin-right: 42px;
}

.info-3 {
  margin-left: auto;
}