html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1400px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  /* font-size: 14px; */
  /* line-height: 21px; */
  color: #533738;
  background-color: #EFE6E4;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 130px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}